// Add your custom CSS here.

body {
  font-family: 'Poppins';
}

.product-card:hover {
  box-shadow: 0 5px 15px 0 rgba(247, 250, 252, 1);
}

.product-card {
  border: 2px solid rgba(247, 250, 252, 1);
  border-radius: 8px;
  transition: box-shadow .6s cubic-bezier(.19,1,.22,1)
}

.product-card__link:hover {
  color: #030304;
  text-decoration: none;
}

.prices__value {
  color: #37364D; 
}
